{% extends "adminHeader.html" %}
{% block body %}
{% if edit == 'edit' %}
    {% set action = '../update' %}
{% else %}
    {% set action = 'insertCategory' %}
{% endif %}

<div class="container mt-5">
    <form action="{{action}}" method="POST" enctype="multipart/form-data" class="form">
        
        <input type="hidden" value="{{category.categoryId}}" name="categoryId">
        <div class="category-name form-group row">
            <label for="categoryName" class="col-md-2">Category Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="categoryName" id="categoryName" value="{{ category.categoryName }}">
            </div>
        </div>

        <div class="url-key form-group row">
            <label for="urlKey" class="col-md-2">Url Key</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="urlKey" id="urlKey" value="{{ category.urlKey }}">
            </div>
        </div>

        <div class="image form-group row">
            <label for="image" class="col-md-2">Category Image</label>
            <div class="col-md-10">
                <input type="file" name="image" id="image" class="form-control">
            </div>
        </div>

        <div class="status form-group row">
            <label for="status" class="col-md-2">Status</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="status" id="status" value="{{ category.status }}">
            </div>
        </div>

        <div class="description form-group row">
            <label for="description" class="col-md-2">Description</label>
            <div class="col-md-10">
                <textarea name="description" id="description" class="form-control" cols="30" rows="5">{{ category.description }}</textarea>
            </div>
        </div>

        <div class="parent-category form-group row">
            <label for="parentCategory" class="col-md-2">Parent Category</label>
            <div class="col-md-10">
                <select name="parentCategory" class="form-control" id="parentCategory">
                    <option value="0">None</option>
                    {% for pcategory in parentCategories %}
                        
                        {% if pcategory.categoryId == category.parentCategory %}
                        <option value="{{pcategory.categoryId}}" selected>{{ pcategory.categoryName }}</option>
                        {% else %}
                        <option value="{{pcategory.categoryId}}">{{ pcategory.categoryName }}</option>
                        {%endif%}
    
                    {% endfor %}
                </select>
            </div>
            
        </div>

        <div class="submit-button text-center">
            <input type="submit" class="btn btn-primary" value="Submit" value="Submit">
        </div>
    </form>
    </div>
{% endblock %}