{% extends "adminHeader.html" %}
{% block body %}
    <nav class="navbar">
        <a class="nav-link" href="../Categories/addEditCategory">ADD CATEGORY</a>
    </nav>
    <table border="1" cellpadding="10" class="table table-bordered text-center">
        <tr>
            <th>Category Name</th>
            <th>url key</th>
            <th>image</th>
            <th>status</th>
            <th>description</th>
            <th>Parent Category</th>
            <th colspan="2">Action</th>
        </tr>

        {% for category in categories %}
            <tr>
                <td>{{ category.categoryName }}</td>
                <td>{{ category.urlKey }}</td>
                <td><img src="../../{{ category.image }}" width="100" height="100"></td>
                <td>{{ category.status }}</td>
                <td>{{ category.description }}</td>
                <td>{{ category.parentCategory }}</td>
              
                <td><a class="btn btn-danger" href="delete/{{category.categoryId}}">DELETE</a></td>
                <td><a class="btn btn-warning" href="edit/{{category.categoryId}}">EDIT</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}