<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Login
    </h1>
    <form action="loginAction" method="POST">
        <div>
            <label for="username">Username : </label>
            <input type="text" name="username" id="username">
            {{ errorUsername }}
        </div>
        <div>
            
            <label for="password">Password : </label>
            <input type="password" name="password" id="password">
            {{ errorPassword }}
        </div>
        <div>
            {{errorInvalid}}
            <input type="submit" value="Login">
        </div>
    </form>
</body>
</html>