{% extends "adminHeader.html" %}    
{% block body %}
<nav class="navbar">
        <a class="nav-link" href="../Products/addEditProduct">ADD PRODUCT</a>
    </nav>

    <table cellpadding="10" class="table table-bordered text-center">
        <tr>
            <th>Product Name</th>
            <th>SKU</th>
            <th>urlKey</th>
            <th>image</th>
            <th>Status</th>
            <th>Price</th>
            <th>Stock</th>
            <th colspan="2">Action</th>
        </tr>

        {% for product in products %}
            <tr>
                <td>{{ product.productName }}</td>
                <td>{{ product.SKU }}</td>
                <td>{{ product.urlKey }}</td>
                <td><img src="../../{{  product.image }}" alt="" width="70" height="70"></td>
                <td>{{ product.status }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td><a class="btn btn-danger" href="delete/{{product.productId}}">DELETE</a></td>
                <td><a class="btn btn-warning" href="edit/{{ product.productId}}">EDIT</a></td>

            </tr>
        {% endfor %}
    </table>
{% endblock %}